<h3>
    Welcome to
</h3>
<h1>Cointraker</h1>
<p>An easy and simple way to keep trak of your expenses</p>

<%= link_to 'LOGIN', new_user_session_path %>
<%= link_to 'SIGN UP', new_user_registration_path %>