<div class="home-page">
    <h1>Cointraker</h1>
    <div class="links-container">
        <%= link_to 'LOGIN', new_user_session_path, class: 'focus-link' %>
        <%= link_to 'SIGN UP', new_user_registration_path, class: 'unfocus-link' %>
    </div>
</div>
