@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #f3f3f3;
    color: #434b54;
}

a {
    text-decoration: none;
    color: #434b54;
}

.home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-page .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 3rem;
}

.home-page .links-container a {
    height: 3rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.focus-link {
    background-color: #3778c2;
    color: white;
}